/* generalni izgled */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.hide {
    display: none;
}

nav div {
    display: inline-block;
    width: 1em;
    height: 1em;
}

.fa-bars {
    display: none;
    font-size: 2em;
    color: white;
    transform: translate(50%, 50%);
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #801336;
    overflow: hidden;
    z-index: 10000;
    margin-bottom: -5px !important;
}

nav .navigacija{
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.navigacija ul {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav li.active {
    background-color: #EE4540;  
}

.navigacija ul li {
    width: 5em;
    text-align: center;
}

nav img {
    border-radius: 50%;
    display: inline-flex;
    width: 3em;
    height: 3em;
    float: right;
    padding: 0.5em;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 1.5em 2em;
}

nav ul li:hover{
    background-color: #EE4540;
}

nav ul a{
    text-decoration: none;
    color: white;
}

main {
    width: 100%;
    background: #2D132C;
}

main h2 {
    color: #FFFFFF;
    text-align: center;
    font-size: 2.5em;
    margin-top: 1em;
}

main .dobrodosli {
    height: 40vh;
    max-width: 100%;
    background-image: url(../img/karen-zhao-jLRIsfkWRGo-unsplash1c.jpg);
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 10vw;
}

main .dobrodosli > h2{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50px;
    padding: 20px;
}

main #filmovi {
    padding-top: 50px;
    height: 33em;
    display: flex;
}

main .row img {
    position: relative;
    height: 24em;
    width: 15.5em;
    flex-grow: 10;
    border-radius: 50px;
}

footer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 1em;
    color: #FFFFFF;
    background-color: #EE4540;
    padding: 2em 0;
}

/* Za prikazuje se stranicu */

main #zanr {
    padding: 0 5em;
}

main #zanr div.row div.slickContent {
    margin: 0 1em;
    padding: 2em 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center !important;
    flex-wrap: wrap;
}

main #zanr div.row .charElement {
    flex: 1;
    display: inline;
    padding: 1em 1em;
}

main .naslovKategorije{
    text-align: center;
    position: static;
    padding-top: 2em;
    padding-bottom: 1em;
    color: white;
    font-size: 30pt;
}

/* Za uskoro stranicu */

.uskoro {
    margin-top: 3em;
}

main .contact {
    padding: 2em 0;
    display: flex;
    justify-content: center;
}

main form {
    background: #EE4540;
    padding: 1em;
    display: flex;
    flex-direction: column;
    border-radius: 2em;
    margin: 0 10vw;
}

main form .redForma {
    display: flex;
}

main form .redForma .poljeForma {
    flex: 1;
    display: flex;
    flex-direction: column;
    display: inline-flex;
    padding: 1em;
}

main form .redForma .poljeForma label {
    margin-bottom:5px;
    color: #FFFFFF;
    font-size: 1.5em;
}

main form .redForma .poljeForma input {
    border-radius: 50px;
    font-size: 1.5em;
    border: 0;
}

main form .check, .checkB {
    font-size: 1.2em;
    color: #FFFFFF;
    padding: 1em 1em 0 1em;
}

main form .check input {
    margin-left: 1em;
}

main .forma #posalji {
    padding: 0.5em;
    margin: 1em;
    border-radius: 50px;
    font-size: 1.5em;
    border: 0;
}


/* Za profil stranicu */

.profil {
    padding: 2em 0;
}

main .profilnaSlika{
    padding-top: 1em;
    display: block;
}

main .profilnaSlika img{
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3em;
    margin-bottom: 1.3em;
    max-width: 20%;
}

main #informacijeKorisnik {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 0 10vw;
}

main #informacijeKorisnik div {
    flex: 1;
}

main .mainText{
    color: white;
    padding: 0.1em;
    font-size: 1.5em;
}

main .underline{
    text-align: center;
    color: whitesmoke;
    font-size: 12pt;
    margin-top: 1em;
}

main #poeni {
    margin: 2em 0;
}

main .progress, main .progressBar {
    height: 2em;
    text-align: right;
    padding-right: 1%;
    color: white;
    border-radius: 1em;
    padding-right: 1em;
}

main .progressBar{
    display: flex;
    margin-top: 0.5em;
    background-color: #801336;
    margin-left: 10vw;
    margin-right: 10vw;
    align-items: center;
}

main .progress{
    display: flex;
    background-color: #EE4540;
    margin-right: 20%;
    flex: 9;
    align-items: center;
    justify-content: flex-end;
}

main #buttons {
    display: flex;
    justify-content: center;
    margin: 0 10vw;
}

main #buttons .buttonsProfile{
    margin: 1.8em 0;
    padding: 1.5em;
    border: 0;
    border-radius: 2em;
    background-color: #EE4540;
    color: white;
    font-weight: bold;
    flex: 1;
}

main #buttons .buttonsProfile:nth-child(2) {
    margin-left: 1.8em;
    margin-right: 1.8em;
}

@media only screen and (max-width: 900px) {
    /* za index */
    .dobrodosli {
        justify-content: center;
    }
}

@media only screen and (max-width: 756px) {

    /* za meni */
    .fa-bars {
        display: inline-block!important;
    }

    .fa-bars:hover {
        cursor: pointer;
    }
    
    .menuClicked {
        height: 16.5em;
    }

    .navigacija ul {
        margin-top: 4em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: stretch;
    }

    .navigacija ul li {
        width: 100vw;
        text-align: center;
    }

    /* za prikazujeSe*/
    main #zanr {
        padding: 2em 2em;
        display: flex;
        flex-direction: column;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    
    main #zanr img{
        height: 13em;
        width: 8.5em;
    }
    
    main .naslovKategorije{
        text-align: center;
        position: static;
        padding-top: 2em;
        padding-bottom: 1em;
        color: white;
        font-size: 30pt;
    }

    /* za uskoro */
    main form .redForma {
        display: flex;
        flex-direction: column;
    }

    /* za profilnu stranicu */
    #informacijeKorisnik {
        flex-direction: column;
    }
    
    .username, .email, .name {
        padding: 0;
    }

    #buttons {
        display: flex;
        flex-direction: column;
    }

    main #buttons .buttonsProfile:nth-child(2) {
        margin-left: 0;
        margin-right: 0;
    }

}