/* generalni izgled */

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.active {
    background-color: #EE4540;
    
}

.hide {
    display: none;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #801336;
    overflow: hidden;
    z-index: 10000;
    margin-bottom: -5px !important;
}

nav .navigacija{
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

nav img {
    border-radius: 50%;
    display: inline-flex;
    width: 3em;
    height: 3em;
    float: right;
    padding: 0.5em;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 1.5em 2em;
}

nav ul li:hover{
    background-color: #EE4540;
}

nav ul a{
    text-decoration: none;
    color: white;
}

main {
    width: 100%;
    background: #2D132C;
}

main .dobrodosli {
    height: 40vh;
    max-width: 100%;
    background-image: url(../img/karen-zhao-jLRIsfkWRGo-unsplash1c.jpg);
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 10vw;
}

main .dobrodosli h2{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50px;
    padding: 20px;
}

main #filmovi {
    padding-top: 50px;
    height: 33em;
    display: flex;
}

main .row img {
    position: relative;
    height: 24em;
    width: 250px;
    flex-grow: 10;
    border-radius: 50px;
}

div .charElement {
    display: inline-block !important;
    box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

}

footer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: 1em;
    color: #FFFFFF;
    background-color: #EE4540;
    padding: 2em 0;
}

/* Za prikazuje se stranicu */

main .naslovKategorije{
    text-align: center;
    position: static;
    padding-top: 2em;
    color: white;
    font-size: 30pt;
}

/* Za uskoro stranicu */

main form {
    padding: 2em 20vw;
    display: flex;
    flex-direction: column;
}

main form .redForma {
    
    width: 50%;
    justify-content: flex-start;

}

main form .redForma .poljeForma {
    flex: 1;
    display: inline-flex;
    padding: 2em;
}

main form button {
    width: 100%;
}


/* Za profil stranicu */

.profil {
    text-align: center;
    padding: 2em 0;
}

main .profilnaSlika{
    padding-top: 1em;
    display: flex;
    justify-content: center;
}

main .profilnaSlika img{
    border-radius: 50%;
    display: block;
    margin-top: 5em;
    margin-bottom: 1.3em;
    max-width: 20%;
}

main #informacijeKorisnik {
    display: flex;
    justify-content: center;
    margin: 0 10vw;
}

main #informacijeKorisnik div {
    flex: 1;
}

main .mainText{
    color: white;
    padding: 0.1em;
    font-size: 1.5em;
}

main .underline{
    color: whitesmoke;
    font-size: 12pt;
    margin-top: 1em;
}

main #poeni {
    margin: 2em 0;
}

main .progress, main .progressBar {
    height: 2em;
    text-align: right;
    padding-right: 1%;
    color: white;
    border-radius: 1em;
    padding-right: 1em;
}

main .progressBar{
    display: flex;
    margin-top: 0.5em;
    background-color: #801336;
    margin-left: 10vw;
    margin-right: 10vw;
    align-items: center;
}

main .progress{
    display: flex;
    background-color: #EE4540;
    margin-right: 20%;
    flex: 9;
    align-items: center;
    justify-content: flex-end;
}

main #buttons {
    display: flex;
    justify-content: center;
    margin: 0 10vw;
}

main #buttons .buttonsProfile{
    margin: 1.8em 0;
    padding: 1.5em;
    border: 0;
    border-radius: 2em;
    background-color: #EE4540;
    color: white;
    font-weight: bold;
    flex: 1;
}

main #buttons .buttonsProfile:nth-child(2) {
    margin-left: 1.8em;
    margin-right: 1.8em;
}
/* Home btn */

position: absolute;
width: 200px;
height: 110px;


/* Slajder pozadina */

position: absolute;
width: 1920px;
height: 340px;
left: 0px;
top: 512px;

background: #801336;


/* Group 1 */

position: absolute;
width: 1870px;
height: 250px;
left: 24px;
top: 557px;



/* Group 2 */

position: absolute;
width: 1870px;
height: 250px;
left: 25px;
top: 985px;

box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.25);


/* Rectangle 1 */

position: absolute;
width: 1920px;
height: 294px;
left: 0px;
top: 1368px;

background: #EE4540;


/* Dobrodošli u ... bioskop */

position: absolute;
width: 338px;
height: 42px;
left: 231px;
top: 257px;



color: #EE4540;

/* Prikazuje se btn */

position: absolute;
width: 200px;
height: 110px;
left: 860px;
top: 0px;



/* Uskoro btn */

position: absolute;
width: 200px;
height: 110px;
left: 1110px;
top: 0px;



/* Profil btn */

position: absolute;
width: 80px;
height: 80px;
left: 1800px;
top: 15px;

background: url(IGGY8591.jpg), #C4C4C4;
border: 7px solid #801336;

